.chat-box {

    overflow-y: auto;
    /* height: calc(100vh - 80px); */
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid #e2e8f0;
    
    height: 440px; 
    /* padding: 10px; */
   width: 100%;
    
}

.chat-messages {
    padding-bottom: 10px;
    text-align: center;
    color: #999;
    box-shadow: 0px 0px 5px;
}

.chat-input-area {
    display: flex;
    justify-content: center;
    height: calc(100% - 60px);
    align-items: end;
    padding-top: 10px;
    border-top: 1px solid #ddd;
    /* background-color: aquamarine; */
}

.chat-input {
    color: black;
    /* background-color: aquamarine; */
    width: 90%;
    border: 1px solid #e2e8f0;
    padding: 10px;
    /* margin: 0px; */
    /* border: 1px solid #ddd; */
    border-radius: 12px;
    font-size: 14px;
    background-color: white;
}