.login-page {
    display: flex;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    background: #0F172A;
    background: linear-gradient(90deg, rgba(15, 23, 42, 1) 0%, rgba(23, 32, 51, 1) 60%, rgba(37, 99, 235, 1) 100%);
    color: white;
    font-family: Arial, sans-serif;
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding: 0 5vw;
}

.content-right {
    margin: none;
    align-self: center;
    margin-bottom: 20px;
}

.content {
    display: flex;
    margin: 0;
    flex-direction: row;
    padding: none;
}

/* para o lado esquerdo */
.content-left {
    flex: 1;
    padding: 0 0 0 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-left h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.content-left h1 span {
    color: rgb(102, 126, 234, 100%);
    color: rgb(118, 75, 162, 100%);
}

.content-left p {
    font-size: 1.1rem;
    margin-bottom: 2rem;
    color: #e0e0e0;
}

.content-left ul {
    list-style: none;
    padding: 0;
    font-size: 1rem;
    line-height: 2rem;
    color: #e0e0e0;
    font-weight: bold;
    margin-top: -1rem;
}

.content-left ul li {
    display: flex;
    background-color: rgb(59, 130, 246, 100%);
    border-radius: 8px;
    border-color: #3B82F6;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    display: flex;
    max-width: 550px;
    transition: 0.6s ease-in;
    align-items: center;

}

.content-left ul li:hover {
    transform: scale(1.04);
}

/*lado direito agora */
/* .content-right {
    flex: 1;
    background: #f4f7fb;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.content-right {
    margin-right: 8rem;
    margin-left: 2rem;
}



@media (max-width: 992px) {
    .content {
        flex-direction: column;
        align-items: stretch;
        width: 100%;
    }

    .content-left {
        padding: 2rem;
        text-align: center;
        align-items: center;
    }

    .content-right {
        max-width: 400px;
        margin: 0;
    }
}

/* 
@media (max-width: 992px){
    .content{
        width: 100%;
        margin: none;
        padding: none;
    }
    
    .content-left{
        display: none;
    }

    .content-right{

    }

    .Footer{
        display: none;
    }

} */

@media (max-width: 480px) {
    .content {
        width: 100%;
        margin: none;
        padding: none;
    }

    .content-right {
        width: 100%;
    }
}