/* Remove margens padrão e define o box-sizing para facilitar os cálculos */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

/* Estilo para a área do conteúdo principal */
.Boxrepo {
  padding-top: 120px;
  display: grid;
  justify-content: center;
  align-items: start;

  /* background-color: red; */
  width: 100%;
  /* min-height: 100vh; */
  background-color: aqua;
  /* margin-left: auto; */
  /* justify-content: center; */
}

.inputLink{
  display: flex;
  justify-content: end;
}

.center{
  
  background-color: beige;
}