footer {
    background: linear-gradient(to right, #0F172A, #172033, #2563EB);
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

