/* Remove margens padrão e define o box-sizing para facilitar os cálculos */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
.Main{
display: flex;
background-color: white;
width: 100vw;
height: 100vh;
margin-top: 100px;


}
/* Estilo para a área do conteúdo principal */
.Boxrepo {
  flex-grow: 1; /* FAZ O CONTEÚDO OCUPAR TODO O RESTO DO ESPAÇO! */
  padding: 40px; /* Espaçamento interno para o conteúdo respirar */
  overflow-y: auto; /* Adiciona uma barra de rolagem SÓ AQUI se o conteúdo for longo */
  width: 100%;
  margin-left: 255px;
}