@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

.box {
  display: flex;
  align-items: center;
  /* margin-bottom: 80px; */
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  background-color: rgba(37, 99, 235);
  z-index: 100;
  border-bottom: 2px solid #2563eb;
}

.header h1 {
  color: white;
  font-size: 2rem;
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: bold;
  margin: 0;
  padding: 0 0 0 5px;
}

.logo {
  height: 40px;
  width: 80px;
  margin: 0;
  padding: 0 0.5rem 0 1.5rem;
}
