/* card de login */
.login-box {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  width: 380px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  color: black;
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.tabs button {
  flex: 1;
  padding: 0.6rem;
  border: none;
  background: none;
  font-weight: bold;
  cursor: pointer;
  color: #667;
  border-bottom: 2px solid transparent;
  transition: 0.3s;
}

.tabs button.active {
  color: #0f47c0;
  border-bottom: 2px solid #0f47c0;
}

/* título e subtítulo */
.login-box h2 {
  margin-bottom: 0.3rem;
  font-size: 1.3rem;
}

.login-box .subtitle {
  font-size: 0.9rem;
  color: #667;
  margin-bottom: 1.5rem;
}

form label {
  font-size: 0.85rem;
  font-weight: bold;
  display: block;
  margin-bottom: 0.3rem;
}

form input {
  width: 100%;
  padding: 0.6rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
}

/* opções (lembrar/esqueci a senha) */
.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.forgot-pass{
  font-size: 0.85rem;
  color: #667;
  text-decoration: none;
  margin-left: 5px;
}

.forgot-pass:hover{
  color: #667;
  opacity: 0.7;
}

/* botão de entrar */
.btn-entrar {
  width: 100%;
  padding: 0.7rem;
  background: #0f47c0;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn-entrar:hover {
  background: #093599;
}

.divider {
  margin: 1.2rem 0;
  color: #778;
  font-size: 0.85rem;
  position: relative;
  text-align: center;
}

.divider::before,
.divider::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 25%;
  height: 1px;
  background: #ddd;
}
.divider::before {
  left: 0;
}
.divider::after {
  right: 0;
}

.social-login {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn-social {
  flex: 1;
  padding: 0.6rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: white;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: 0.3s;
}

.btn-social:hover {
  transform: translateY(-2px);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.social-icon {
  font-size: 18px;
  margin-right: 8px;
}

.btn-social.google {
  color: #db4437;
  border-color: #db4437;
}

.btn-social.google .social-icon {
  color: #db4437;
}

.btn-social.google:hover {
  background-color: #db4437;
  color: white;
}

.btn-social.google:hover .social-icon {
  color: white;
}

.btn-social.github {
  color: #333;
  border-color: #333;
}

.btn-social.github .social-icon {
  color: #333;
}

.btn-social.github:hover {
  background-color: #333;
  color: white;
}

.btn-social.github:hover .social-icon {
  color: white;
}
