/* card de login */
.register-box {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  width: 380px;
  height: auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  color: black;
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.tabs button {
  flex: 1;
  padding: 0.6rem;
  border: none;
  background: none;
  font-weight: bold;
  cursor: pointer;
  color: #667;
  border-bottom: 2px solid transparent;
  transition: 0.3s;
}

.tabs button.active {
  color: #0f47c0;
  border-bottom: 2px solid #0f47c0;
}

/* título e subtítulo */
.register-box h2 {
  margin-bottom: 0.3rem;
  font-size: 1.3rem;
}

.register-box .subtitle {
  font-size: 0.9rem;
  color: #667;
  margin-bottom: 1.5rem;
}

form label {
  font-size: 0.85rem;
  font-weight: bold;
  display: block;
  margin-bottom: 0.3rem;
}

form input {
  width: 100%;
  padding: 0.6rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #ddd; /*cor de fundo do input*/
  color: black;
}

form input:focus {
  outline: 2px solid #0f47c0; /* espessura, tipo e cor */
  outline-offset: 2px;        /* opcional: afasta o contorno da borda */
}


/* opções (lembrar/esqueci a senha) */



/* botão de entrar */
.btn-entrar,
.btn-cadastrar {
  width: 100%;
  margin-top: 10px;
  padding: 0.7rem;
  background: #0f47c0;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn-entrar:hover,
.btn-cadastrar:hover {
  background: #093599;
}

.register-divider{
  border: none;
  height: 2px;
  background: rgba(102, 102, 119, 0.534);
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  margin: 1.5rem 0;
}