.summaryComponet{
    
    width: 68vw;
    /* background-color: rebeccapurple; */
    border: solid 1px black;
    border-radius: 12px;
    color: black;
}

.boxDocsSummary{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    height: 45px;
    /* background-color: red; */
    margin: 2rem;
    border-bottom: solid 1px black;
    color: black;
}
